/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */
/* Document
   ========================================================================== */
/**
 * Use a better box model (opinionated).
 */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/**
 * Use a more readable tab size (opinionated).
 */
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct height in Firefox.
 */
hr {
  height: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Add the correct text decoration in Chrome, Edge, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Remove the inheritance of text transform in Edge and Firefox.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
 */
legend {
  padding: 0;
}
/**
 * Add the correct vertical alignment in Chrome and Firefox.
 */
progress {
  vertical-align: baseline;
}
/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Chrome and Safari.
 */
summary {
  display: list-item;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
html {
  font-size: 58%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, opensans, Optima, 'Microsoft Yahei', sans-serif;
  font-size: 14px;
  color: #333;
  background: #fdfdfd;
}
a {
  color: #333;
  text-decoration: none;
  transition: all 0.3s;
}
a:hover {
  color: #006CFF;
}
ul li {
  list-style: none;
}
body,
div,
a,
p,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
table,
tr,
td {
  font-weight: lighter;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #fdfdfd;
}
.main {
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
  display: flex;
  flex-direction: column;
}
.main .main-content {
  flex: 1;
}
.site-header {
  padding: 48px 0;
  text-align: center;
}
.site-header .site-title {
  font-size: 32px;
}
.site-header .site-description {
  font-size: 20px;
  padding: 24px;
}
.site-header .menu-container {
  display: flex;
  justify-content: center;
}
.site-header .menu-container a.menu {
  font-size: 18px;
  padding: 8px 16px;
}
.post-container .post {
  padding: 24px 32px;
}
.post-container .post .post-title {
  font-size: 24px;
  text-align: center;
  padding: 24px;
}
.post-container .post .post-info {
  text-align: center;
  font-size: 12px;
  padding-bottom: 24px;
}
.post-container .post .post-info .post-time {
  color: #5E5E5E;
}
.post-container .post .post-info .post-tag {
  padding: 8px 16px;
}
.post-container .post .post-feature-image {
  display: block;
  width: 100%;
  height: 240px;
  border-radius: 2px;
  overflow: hidden;
}
.post-container .post .post-feature-image img {
  width: 100%;
}
.post-container .post .post-abstract {
  padding: 24px;
}
.pagination-container {
  padding: 24px 32px 32px;
  overflow: hidden;
}
.pagination-container .prev-page {
  float: left;
}
.pagination-container .next-page {
  float: right;
}
.post-detail .post {
  padding: 24px 32px;
}
.post-detail .post .post-title {
  font-size: 32px;
  text-align: center;
  padding: 24px;
}
.post-detail .post .post-info {
  text-align: center;
  font-size: 12px;
  padding-bottom: 24px;
}
.post-detail .post .post-info .post-time {
  color: #5E5E5E;
}
.post-detail .post .post-info .post-tag {
  padding: 8px 16px;
}
.post-detail .post .post-content img {
  display: block;
  box-shadow: 0 0 30px #eee;
  max-width: 94%;
  border-radius: 2px;
  margin: 24px auto;
}
.post-detail .post .post-content p {
  line-height: 1.725;
  margin-bottom: 24px;
}
.post-detail .post .post-content p code {
  padding: 0 3px;
  margin: 0 2px;
  background: rgba(195, 195, 195, 0.41);
  font-size: 0.9em;
  border-radius: 2px;
}
.post-detail .post .post-content pre {
  margin-bottom: 24px;
}
.post-detail .post .post-content pre code {
  font-size: 14px;
  font-family: 'Source Code Pro', Consolas, Menlo, Monaco, 'Courier New', monospace;
  padding: 1em;
  border-radius: 5px;
  line-height: 1.375;
}
.next-post {
  text-align: center;
  padding: 24px 32px;
}
.next-post .next {
  margin-bottom: 24px;
}
.next-post .post-title {
  font-size: 18px;
}
.current-tag-container .title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 24px;
}
.about-page {
  padding: 24px 32px;
}
.site-footer {
  font-size: 12px;
  text-align: center;
  padding: 24px;
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}
.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}
.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}
.hljs-string,
.hljs-doctag {
  color: #d14;
}
.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}
.hljs-subst {
  font-weight: normal;
}
.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}
.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}
.hljs-regexp,
.hljs-link {
  color: #009926;
}
.hljs-symbol,
.hljs-bullet {
  color: #990073;
}
.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}
.hljs-meta {
  color: #999;
  font-weight: bold;
}
.hljs-deletion {
  background: #fdd;
}
.hljs-addition {
  background: #dfd;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
