/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */
/* Document
   ========================================================================== */
/**
 * Use a better box model (opinionated).
 */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/**
 * Use a more readable tab size (opinionated).
 */
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
/* Grouping content
   ========================================================================== */
/* Text-level semantics
   ========================================================================== */
/**
 * Add the correct text decoration in Chrome, Edge, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Remove the inheritance of text transform in Edge and Firefox.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
 */
legend {
  padding: 0;
}
/**
 * Add the correct vertical alignment in Chrome and Firefox.
 */
progress {
  vertical-align: baseline;
}
/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Chrome and Safari.
 */
summary {
  display: list-item;
}
/*
Name:   Duotone Light
Author: Simurai, adapted from DuoTone themes for Atom (http://simurai.com/projects/2016/01/01/duotone-themes)
Conversion: Bram de Haan (http://atelierbram.github.io/Base2Tone-prism/output/prism/prism-base2tone-morning-light.css)
Generated with Base16 Builder (https://github.com/base16-builder/base16-builder)
*/
code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #faf8f5;
  color: #728fcb;
}
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #faf8f5;
}
pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #faf8f5;
}
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #b6ad9a;
}
.token.punctuation {
  color: #b6ad9a;
}
.token.namespace {
  opacity: 0.7;
}
.token.tag,
.token.operator,
.token.number {
  color: #063289;
}
.token.property,
.token.function {
  color: #b29762;
}
.token.tag-id,
.token.selector,
.token.atrule-id {
  color: #2d2006;
}
code.language-javascript,
.token.attr-name {
  color: #896724;
}
code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
  color: #728fcb;
}
.token.placeholder,
.token.variable {
  color: #93abdc;
}
.token.deleted {
  text-decoration: line-through;
}
.token.inserted {
  border-bottom: 1px dotted #2d2006;
  text-decoration: none;
}
.token.italic {
  font-style: italic;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.important {
  color: #896724;
}
.token.entity {
  cursor: help;
}
pre > code.highlight {
  outline: 0.4em solid #896724;
  outline-offset: 0.4em;
}
/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers .line-numbers-rows {
  border-right-color: #ece8de;
}
.line-numbers-rows > span:before {
  color: #cdc4b1;
}
/* overrides color-values for the Line Highlight plugin
 * http://prismjs.com/plugins/line-highlight/
 */
.line-highlight {
  background: rgba(45, 32, 6, 0.2);
  background: -webkit-linear-gradient(left, rgba(45, 32, 6, 0.2) 70%, rgba(45, 32, 6, 0));
  background: linear-gradient(to right, rgba(45, 32, 6, 0.2) 70%, rgba(45, 32, 6, 0));
}
::root {
  --en-sans: "Droid Serif", "Lato","Helvetica Neue","Helvetica",Aria;
  --sys-sans: "Droid Serif", -apple-system, BlinkMacSystemFont, "Helvetica Neue";
  --cjk-sans: "Droid Serif", "PingFang SC","Hiragino Sans GB", "Droid Sans Fallback","Microsoft YaHei";
  --color-gray: #9ea0a6;
  --primary-color: #000000;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  vertical-align: baseline;
}
html {
  font-size: 58%;
}
body {
  color: rgba(0, 0, 0, 0.86);
  font: 400 18px/1.42 "Droid Serif", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
  letter-spacing: 0.05em;
}
a {
  color: rgba(0, 0, 0, 0.98);
  text-decoration: none;
}
a:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
body,
div,
a,
p,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
table,
tr,
td {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.item:after,
.navigation:after {
  display: table;
  content: "";
  clear: both;
}
.head {
  position: relative;
  line-height: 1.32;
  padding: 20px 0;
  min-height: 70px;
}
.head .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head .site-name {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
}
.head,
.info {
  background-color: #000;
}
.head_logo {
  float: left;
  font-weight: 700;
}
.head_logo a {
  line-height: 30px;
  color: hsla(0, 0%, 100%, 0.9);
  text-decoration: none;
  transition: color 0.2s ease;
}
.head_logo a:hover {
  color: #fff;
}
.head_logo img {
  height: 30px;
  margin-right: 5px;
  box-sizing: border-box;
  border: 2px solid hsla(0, 0%, 100%, 0.5);
  border-radius: 100%;
}
.head_logo img,
.head_logo img + span {
  vertical-align: middle;
}
.subscribe-link {
  float: right;
}
.head_subscribe .subscribe-link {
  border: 3px solid hsla(0, 0%, 100%, 0.86);
  color: hsla(0, 0%, 100%, 0.86);
  height: 30px;
  border-radius: 30px;
  padding: 0 20px;
  background: transparent;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  transition: all 0.2s ease;
  display: inline-block;
}
.head_subscribe .subscribe-link:hover {
  border-color: #fff;
  color: #fff;
  cursor: pointer;
}
.info {
  position: relative;
  text-align: center;
  padding: 120px 0;
}
.info_logo {
  display: inline-block;
  margin-bottom: 40px;
}
.info_logo img {
  height: 120px;
  box-sizing: border-box;
}
.info_title {
  font-size: 42px;
  font-weight: 700;
  margin: 0 0 10px;
  color: #fff;
}
.info_title a,
.info_title a:hover {
  color: inherit;
  text-decoration: none;
}
.info_subtitle {
  margin: 0 0 10px;
  font-size: 28px;
  font-weight: 300;
  color: hsla(0, 0%, 100%, 0.68);
}
.info_main .info_nav {
  margin-top: 42px;
}
.info_nav a {
  color: hsla(0, 0%, 100%, 0.86);
  text-decoration: none;
}
.info_nav a:hover {
  color: #fff;
}
.info_nav a + a:before {
  content: " / ";
  color: hsla(0, 0%, 100%, 0.42);
}
.main {
  min-height: 200px;
  padding: 64px 0;
}
.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 40px;
  column-gap: 40px;
}
.item {
  margin-top: 20px;
  margin-bottom: 60px;
  transition: opacity 0.24s ease;
}
.item:hover h2 {
  opacity: 0.6;
  color: #000;
}
.item a {
  color: rgba(0, 0, 0, 0.98);
  text-decoration: none;
}
.item a:hover {
  color: rgba(0, 0, 0, 0.68);
}
.item-image {
  display: block;
  overflow: hidden;
  padding-bottom: 56%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  border: 0;
  position: relative;
  border-radius: 2px;
}
.item-image:after {
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.24s ease;
  -o-transition: all 0.24s ease;
  transition: all 0.24s ease;
}
.item-image:hover:after {
  background: rgba(0, 0, 0, 0.06);
}
.item .item-image {
  background-color: #000;
}
.item h2 {
  font-weight: 600;
  margin: 4px 0 10px;
  font-size: 2.45rem;
  transition: all 0.24s ease;
}
.item-subtitle {
  font-weight: 300;
  font-size: 20px;
  color: var(--color-gray);
}
.item-meta {
  color: var(--color-gray);
  font-size: 14px;
  margin: 20px 0 10px;
}
.item-duration,
.item-meta time {
  vertical-align: middle;
  color: #999;
}
.item-duration {
  display: inline-block;
  padding: 0 4px;
  margin-right: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  color: rgba(0, 0, 0, 0.1);
  font-size: 11px;
  font-weight: 600;
  line-height: 16px;
}
.navigation {
  text-align: center;
}
.navigation a + a {
  margin-left: 40px;
}
.navigation a {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.98);
  border-bottom: 3px solid transparent;
}
.navigation a {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(0, 0%, 0%);
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
}
.navigation a:hover {
  color: #EBEBEB;
}
.navigation a::after {
  content: '';
  z-index: -1;
  background-color: hsla(0, 0%, 100%, 0.2);
  position: absolute;
  top: -50%;
  bottom: -50%;
  width: 1.25em;
  transform: translate3d(-606%, 0, 0) rotate(35deg);
}
.navigation a:hover::after {
  transition: transform 0.45s ease-in-out;
  transform: translate3d(200%, 0, 0) rotate(35deg);
}
.main._episode .inner {
  max-width: 860px;
}
@media (max-width: 940px) {
  .items {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .items {
    grid-template-columns: 1fr;
  }
}
.item-duration,
.item a:hover,
.yue a:hover,
a:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.tags {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 40px;
  column-gap: 40px;
}
.tags .tag {
  padding: 32px 16px;
  background: #f8f9fa;
  margin-bottom: 32px;
  position: relative;
  overflow: hidden;
  border: 2px solid transparent;
  border-radius: 2px;
  transition: all 0.24s ease;
}
.tags .tag:hover {
  border: 2px solid #000;
}
.tags .tag .tag-name {
  color: #999;
  margin-bottom: 8px;
  position: relative;
  z-index: 2;
}
.tags .tag .tag-count {
  font-size: 3rem;
  color: #000;
  font-weight: 300;
  position: relative;
  z-index: 2;
}
.tags .tag .icon {
  position: absolute;
  right: 0;
  bottom: -12px;
  font-size: 80px;
  color: #efefef91;
  transform: rotateY(180deg);
}
@media (max-width: 940px) {
  .tags {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .tags {
    grid-template-columns: 1fr;
  }
}
.footer {
  padding: 48px 0;
  font-size: 1.4rem;
  color: #999;
  position: relative;
  background: #fafafa;
  border-top: 1px #EBEBEB solid;
  text-align: center;
}
.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #ebebeb;
}
.footer__social {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-size: 18px;
  flex-wrap: wrap;
}
.footer__social a {
  margin: 24px;
}
.footer__sosumi {
  font-size: 1.2rem;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Microsoft Yahei", "Microsoft JhengHei", sans-serif;
  text-align: center;
  margin-top: 18px;
}
@media only screen and (max-width: 57.82em) {
  .footer__sosumi {
    font-size: 1rem;
  }
}
.site-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 9;
}
.site-nav .inner-box {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-nav .inner-box .info_nav {
  margin-top: 0;
}
.site-nav.has-cover {
  padding-bottom: 40px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2), transparent);
}
.site-nav.has-cover .head {
  background: none;
}
.site-link {
  font-family: Avenir Next, var(--cjk-sans), sans-serif;
  display: inline-block;
  font-size: 24px;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.98);
  transition: all 0.2s ease;
}
.has-cover .site-link {
  color: hsla(0, 0%, 100%, 0.98);
}
.has-cover .site-link:hover {
  opacity: 0.8;
}
.no-cover {
  background-color: #000;
}
.no-cover .site-link {
  color: hsla(0, 0%, 100%, 0.86);
}
.no-cover .site-link:hover {
  color: #fff;
}
.hentry {
  padding-top: 180px;
  padding-bottom: 30px;
}
.hentry.has-cover {
  padding-top: 0;
}
.hentry .entry-cover {
  width: 100%;
  height: 60vw;
  max-height: 80vh;
  background: #f5f5f5 no-repeat 50%;
  background-size: cover;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hentry .entry-cover .post-title {
  max-width: 1000px;
  padding: 24px;
  color: #fff;
  background: rgba(0, 0, 0, 0.06);
  font-size: 2.2em;
  font-weight: 900;
  letter-spacing: 0.02em;
  line-height: 1.1;
  backdrop-filter: blur(10px);
}
@media (max-width: 768px) {
  .hentry .entry-cover .post-title {
    display: none;
  }
}
.yue h1,
.yue h2,
.yue h3,
.yue h4,
.yue h5,
.yue h6 {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Droid Sans Fallback, Microsoft YaHei, sans-serif;
  color: rgba(0, 0, 0, 0.98);
}
.yue h1 {
  font-weight: 700;
  font-size: 1.8em;
  margin: 0.8em auto;
}
.yue h2 {
  font-weight: 700;
  font-size: 1.42em;
  margin: 1.42em auto 0.4em;
}
.yue h3 {
  font-size: 1.17em;
  margin: 1.62em auto 0.4em;
}
.yue h4,
.yue h5,
.yue h6 {
  font-size: 1em;
  margin: 1.6em auto 0.6em;
}
.yue h6 {
  font-weight: 500;
}
.yue p {
  margin-top: 0;
  margin-bottom: 1.12em;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.yue a {
  color: rgba(0, 0, 0, 0.98);
  word-wrap: break-word;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}
.yue a:hover {
  color: rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0.6);
}
.yue h1 a,
.yue h2 a,
.yue h3 a {
  text-decoration: none;
}
.yue b,
.yue strong {
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.9);
}
.yue em,
.yue i {
  font-style: italic;
  color: rgba(0, 0, 0, 0.9);
}
.yue video {
  max-width: 100%;
  height: auto;
  margin: 0.2em 0;
}
.yue img {
  max-width: 100%;
  margin: 0.2em 0;
}
.yue a img {
  border: none;
  vertical-align: middle;
}
.yue figure {
  position: relative;
  clear: both;
  outline: 0;
  margin: 10px 0 30px;
  padding: 0;
  min-height: 100px;
}
.yue figure img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.yue figcaption {
  width: 100%;
  text-align: center;
  left: 0;
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.42);
}
.yue figcaption a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.42);
}
.yue hr {
  display: block;
  width: 90%;
  max-width: 100px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.04);
  margin: 1.42em auto 1.84em;
}
.yue blockquote {
  margin: 0 auto 1.64em;
  padding: 0 1em;
}
.yue blockquote,
.yue blockquote a {
  color: rgba(0, 0, 0, 0.68);
}
.yue ol,
.yue ul {
  margin: 0 0 24px 6px;
  padding-left: 16px;
}
.yue ul {
  list-style-type: circle;
}
.yue ol {
  list-style-type: decimal;
}
.yue li {
  margin-bottom: 0.2em;
}
.yue li ol,
.yue li ul {
  margin-top: 0;
  margin-bottom: 0;
}
.yue li ul {
  list-style-type: disc;
}
.yue li ul ul {
  list-style-type: circle;
}
.yue li p {
  margin: 0.4em 0 0.6em;
}
.yue code,
.yue tt {
  color: grey;
  font-size: 0.96em;
  padding: 1px 2px;
  font-family: Menlo,Monaco,Consolas,Courier New,monospace;
  word-wrap: break-word;
}
.yue pre {
  margin: 1.64em auto;
  padding: 7px 7px 7px 10px;
  border: none;
  border-left: 3px solid rgba(0, 0, 0, 0.08);
  overflow: auto;
  line-height: 1.5;
  font-size: 0.86em;
  font-family: Menlo,Monaco,Consolas,Courier New,monospace;
  color: rgba(0, 0, 0, 0.68);
  background-color: rgba(0, 0, 0, 0.02);
}
.yue pre code,
.yue pre tt {
  color: rgba(0, 0, 0, 0.68);
  border: none;
  background: none;
  padding: 0;
}
.yue table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5em;
  font-size: 0.96em;
  box-sizing: border-box;
}
.yue .align-left {
  text-align: left;
}
.yue .align-right {
  text-align: right;
}
.yue .align-center {
  text-align: center;
}
.yue iframe {
  display: block;
  max-width: 100%;
  margin-bottom: 30px;
}
.yue figure iframe {
  margin: auto;
}
.yue table pre {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}
.yue .wrap {
  margin-top: 1.1em;
  margin-bottom: 1.1em;
}
.yue .cite-quote cite {
  display: block;
  font-size: 16px;
  font-style: normal;
  color: #999;
}
.yue .cite-quote cite:before {
  content: "—";
  margin-right: 10px;
}
.yue .cite-quote p + cite {
  margin-top: -10px;
}
.yue .footnotes {
  font-size: 80%;
  line-height: 1.32;
  opacity: 0.96;
}
.yue .footnotes:before {
  content: "";
  display: block;
  border-top: 4px solid rgba(0, 0, 0, 0.1);
  width: 50%;
  max-width: 100px;
  margin: 40px 0 20px;
}
[lang^=en] .yue h1 {
  font-weight: 900;
}
[lang^=zh] .yue em:not([lang=en]) {
  font-style: normal;
  font-family: Baskerville, Georgia, Kaiti SC, STKaiti, AR PL UKai CN, AR PL UKai HK, AR PL UKai TW, AR PL UKai TW MBE, AR PL KaitiM GB, KaiTi, DFKai-SB, serif;
}
@media (max-device-width: 680px) {
  [lang^=zh] .yue em:not([lang=en]) {
    -webkit-text-emphasis: filled dot #555;
    text-emphasis: filled dot #555;
    -webkit-text-emphasis-position: under;
    text-emphasis-position: under;
  }
}
.post-content > .footnotes,
.post-content > .highlight,
.post-content > h1,
.post-content > h2,
.post-content > h3,
.post-content > h4,
.post-content > h5,
.post-content > h6,
.post-content > blockquote,
.post-content > pre,
.post-content > p,
.post-content > table,
.hentry .entry-block,
.hentry .entry-meta,
.hentry .entry-subtitle,
.hentry .entry-title,
.post-section .inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 760px;
  padding-left: 18px;
  padding-right: 18px;
}
.post-content > figure {
  margin: 1.64em auto;
  text-align: center;
  max-width: 1200px;
  box-sizing: border-box;
}
.post-content > ul,
.post-content > ol {
  margin-left: auto;
  margin-right: auto;
  max-width: 760px;
  padding-left: 48px;
  padding-right: 18px;
}
@media (min-width: 760px) {
  .post-content img.small {
    max-width: 760px;
  }
}
.entry-meta > span,
.entry-meta > time {
  color: rgba(0, 0, 0, 0.42);
  font-size: 13px;
  font-weight: 400;
  font-family: var(--sys-sans), var(--cjk-sans), sans-serif;
}
.entry-meta > span:before {
  content: "/ ";
  font-size: 10px;
  color: rgba(0, 0, 0, 0.1);
  margin: 0 4px;
}
.entry-meta a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.42);
  font-weight: 700;
  font-size: 13px;
  font-family: var(--sys-sans), var(--cjk-sans), sans-serif;
}
.entry-meta a:hover {
  color: rgba(0, 0, 0, 0.68);
}
.hentry .entry-subtitle,
.hentry .entry-title {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.hentry .entry-subtitle {
  color: rgba(0, 0, 0, 0.42);
  font-size: 1.42em;
  font-weight: 300;
}
.hentry .entry-title {
  font-size: 2.2em;
  font-weight: 900;
  margin-top: 0.42em;
  margin-bottom: 0.1em;
  letter-spacing: 0.02em;
  line-height: 1.1;
}
.hentry > .entry-title:not(:first-child) {
  display: none;
}
@media (max-width: 768px) {
  .hentry > .entry-title:not(:first-child) {
    display: block;
  }
}
.hentry .post-content {
  line-height: 1.62;
  font-family: "Weaf Mono Web", "Droid Serif", var(--cjk-sans), sans-serif;
  max-width: 1200px;
  margin: 1.64em auto;
}
.post-content hr {
  display: block;
  border: 0;
  margin: 2.24em auto 2.86em;
}
.post-content hr:after {
  color: rgba(0, 0, 0, 0.2);
  font-size: 1.1em;
  display: block;
  content: "~ ~ ~ ~";
  text-align: center;
}
.post-content blockquote {
  position: relative;
  padding: 0.4em 0 0 2.2em;
  font-size: 0.96em;
}
.post-content blockquote:before {
  position: absolute;
  top: -4px;
  left: 0;
  content: "\201c";
  font: 700 62px/1 "Droid Serif", serif;
  color: rgba(0, 0, 0, 0.1);
}
.post-content a {
  position: relative;
  z-index: 2;
}
.post-content a:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.post-content a.md-img-link {
  border: 0;
}
.entry-block:after {
  content: "";
  display: table;
  clear: both;
}
.entry-tags a {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.42);
}
.entry-tags a + a {
  margin-left: 1em;
}
.entry-tags a:before {
  content: "#";
  font-weight: 900;
  color: rgba(0, 0, 0, 0.1);
  margin-right: 1px;
}
.entry-tags a:hover:before {
  color: rgba(0, 0, 0, 0.42);
}
.post-content table td,
.post-content table th {
  text-align: left;
  padding: 4px 8px 4px 10px;
  border: 1px solid rgba(0, 0, 0, 0.04);
}
.post-content table td {
  vertical-align: top;
}
.post-content table tr:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.01);
}
.md-block .math {
  overflow: auto;
}
.md-embed.video {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.md-embed .video_container {
  width: 100%;
  position: relative;
  padding-bottom: 57%;
}
.md-embed .video_container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.highlight {
  color: #586e75;
}
.highlight .hll {
  font-weight: 700;
}
.highlight .c {
  color: #93a1a1;
}
.highlight .err,
.highlight .g {
  color: #586e75;
}
.highlight .k {
  color: #859900;
}
.highlight .l,
.highlight .n {
  color: #586e75;
}
.highlight .o {
  color: #859900;
}
.highlight .x {
  color: #cb4b16;
}
.highlight .p {
  color: #586e75;
}
.highlight .cm {
  color: #93a1a1;
}
.highlight .cp {
  color: #859900;
}
.highlight .c1 {
  color: #93a1a1;
}
.highlight .cs {
  color: #859900;
}
.highlight .gd {
  color: #2aa198;
}
.highlight .ge {
  color: #586e75;
  font-style: italic;
}
.highlight .gr {
  color: #dc322f;
}
.highlight .gh {
  color: #cb4b16;
}
.highlight .gi {
  color: #859900;
}
.highlight .go,
.highlight .gp {
  color: #586e75;
}
.highlight .gs {
  color: #586e75;
  font-weight: 700;
}
.highlight .gu {
  color: #cb4b16;
}
.highlight .gt {
  color: #586e75;
}
.highlight .kc {
  color: #cb4b16;
}
.highlight .kd {
  color: #268bd2;
}
.highlight .kn,
.highlight .kp {
  color: #859900;
}
.highlight .kr {
  color: #268bd2;
}
.highlight .kt {
  color: #dc322f;
}
.highlight .ld {
  color: #586e75;
}
.highlight .m,
.highlight .s {
  color: #2aa198;
}
.highlight .na {
  color: #586e75;
}
.highlight .nb {
  color: #b58900;
}
.highlight .nc {
  color: #268bd2;
}
.highlight .no {
  color: #cb4b16;
}
.highlight .nd {
  color: #268bd2;
}
.highlight .ne,
.highlight .ni {
  color: #cb4b16;
}
.highlight .nf {
  color: #268bd2;
}
.highlight .nl,
.highlight .nn,
.highlight .nx,
.highlight .py {
  color: #586e75;
}
.highlight .nt,
.highlight .nv {
  color: #268bd2;
}
.highlight .ow {
  color: #859900;
}
.highlight .w {
  color: #586e75;
}
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo {
  color: #2aa198;
}
.highlight .sb {
  color: #93a1a1;
}
.highlight .sc {
  color: #2aa198;
}
.highlight .sd {
  color: #586e75;
}
.highlight .s2 {
  color: #2aa198;
}
.highlight .se {
  color: #cb4b16;
}
.highlight .sh {
  color: #586e75;
}
.highlight .si,
.highlight .sx {
  color: #2aa198;
}
.highlight .sr {
  color: #dc322f;
}
.highlight .s1,
.highlight .ss {
  color: #2aa198;
}
.highlight .bp,
.highlight .vc,
.highlight .vg,
.highlight .vi {
  color: #268bd2;
}
.highlight .il {
  color: #2aa198;
}
.entry-share i.has-value {
  margin-left: 0.4em;
  font-style: normal;
}
.entry-share > a {
  text-decoration: none;
  margin-left: 4px;
  color: rgba(0, 0, 0, 0.6);
}
.entry-share .icon,
.entry-share > a {
  vertical-align: middle;
}
.entry-share > a:hover {
  color: var(--primary-color);
}
.md-photo {
  margin: 1.64em auto;
  text-align: center;
  max-width: 1200px;
  box-sizing: border-box;
}
.md-photo img {
  cursor: pointer;
}
.md-photo.gallery figure {
  margin-bottom: 10px;
}
.md-photo_column {
  display: -webkit-flex;
  display: flex;
}
.md-photo .md-photo_column figure {
  position: relative;
  padding: 3px;
  -webkit-flex: 1;
  flex: 1;
  margin: 0;
}
.md-photo .md-photo_column figure:first-of-type {
  padding-left: 0;
}
.md-photo .md-photo_column figure:last-of-type {
  padding-right: 0;
}
.md-photo .md-photo_column figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 5px 10px;
  box-sizing: border-box;
  color: #fff;
  text-align: left;
  opacity: 0;
}
.md-photo .md-photo_column a {
  color: #fff;
}
.md-photo .md-photo_column figure:hover figcaption {
  opacity: 0.6;
}
@media (min-width: 860px) {
  .md-photo.gallery {
    width: 90%;
  }
}
@media (min-width: 960px) {
  .md-photo.gallery {
    width: 86%;
  }
}
.md-embed.checkout {
  margin-bottom: 1em;
}
.md-embed.checkout .md-embed_content {
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 3px;
}
.post-section {
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.04);
}
.post-section h3,
.post-archives h3 {
  margin: 0;
  font-weight: 300;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.42);
}
.disqus {
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.04);
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}
.disqus + .post-section {
  border-color: rgba(0, 0, 0, 0.08);
}
.prev-post a,
.post-archives a {
  display: block;
  margin: 10px 0;
  font: 400 18px/1.42 var(--sys-sans), var(--cjk-sans), sans-serif;
  text-decoration: none;
}
.prev-post a:hover,
.post-archives a:hover {
  opacity: 0.8;
  color: #000;
}
.prev-post strong {
  display: block;
  font-size: 22px;
}
.prev-post span {
  display: block;
  color: rgba(0, 0, 0, 0.42);
}
.contains-task-list {
  list-style-type: none;
  padding-left: 30px;
}
.task-list-item {
  position: relative;
}
.task-list-item-checkbox {
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: 4px 0 0;
  top: 3px;
  left: -22px;
  transform-origin: center;
  transform: rotate(-90deg);
  transition: all 0.2s ease;
}
.task-list-item-checkbox:checked {
  transform: rotate(0);
}
.task-list-item-checkbox:checked:before {
  border: transparent;
  background-color: #2f9e44;
}
.task-list-item-checkbox:checked:after {
  transform: rotate(-45deg) scale(1);
}
.task-list-item-checkbox:checked + .task-list-item-label {
  color: #a0a0a0;
  text-decoration: line-through;
  font-weight: lighter;
}
.task-list-item-checkbox:before {
  content: "";
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease;
}
.task-list-item-checkbox:after {
  content: "";
  transform: rotate(-45deg) scale(0);
  width: 9px;
  height: 5px;
  border: 1px solid #fff;
  border-top: none;
  border-right: none;
  position: absolute;
  display: inline-block;
  top: 4px;
  left: 4px;
  transition: all 0.2s ease;
}
#gitalk-container,
#disqus_thread {
  margin-left: auto;
  margin-right: auto;
  max-width: 760px;
  padding-left: 18px;
  padding-right: 18px;
  margin-bottom: 32px;
}
.footer-rss {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  background-color: #000;
  overflow: hidden;
  cursor: pointer;
  margin-top: 24px;
  display: inline-block;
  border-radius: 2px;
}
.footer-rss:hover {
  color: #EBEBEB;
}
.footer-rss::after {
  content: '';
  z-index: -1;
  background-color: hsla(0, 0%, 100%, 0.2);
  position: absolute;
  top: -50%;
  bottom: -50%;
  width: 1.25em;
  transform: translate3d(-525%, 0, 0) rotate(35deg);
}
.footer-rss:hover::after {
  transition: transform 0.45s ease-in-out;
  transform: translate3d(200%, 0, 0) rotate(35deg);
}
input#burger {
  visibility: hidden;
}
.burger {
  display: none;
}
@media only screen and (max-width: 57.82em) {
  .burger {
    position: absolute;
    top: 25px;
    right: 20px;
    height: 20px;
    width: 20px;
    z-index: 5;
    background: transparent;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    text-align: left;
    outline: none;
    z-index: 9991;
  }
}
@media only screen and (max-width: 57.82em) {
  .landscape .burger {
    top: 35px;
  }
  .burger:hover {
    cursor: pointer;
  }
  .burger div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .burger span {
    display: block;
    background: hsla(0, 0%, 100%, 0.86);
    width: 17px;
    height: 1px;
    margin: 3px 0;
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0.08s;
  }
}
label.burger {
  z-index: 9992;
}
input#burger {
  visibility: hidden;
}
body input:checked + .burger span:first-child {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: -0.5px;
}
body input:checked + .burger span:last-child {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: -0.5px;
}
body .burger:hover {
  cursor: pointer;
}
body input:checked ~ .mask {
  opacity: 1;
  visibility: visible;
}
body input:checked ~ nav {
  opacity: 1;
  height: auto;
}
body.landscape input:checked ~ nav {
  height: 100vh;
}
body input:checked ~ nav {
  opacity: 1;
  visibility: visible;
}
@media only screen and (max-width: 57.82em) {
  .info_nav {
    left: 0;
    right: 0;
    height: 0;
    opacity: 0;
    box-shadow: 0 0px 10px rgba(51, 51, 51, 0.06);
    display: block;
    top: 70px;
    position: absolute;
    z-index: 9990;
    background-color: rgba(45, 45, 45, 0.98);
    transition: all 0.5s cubic-bezier(0.77, 0, 0.17, 1);
    overflow: hidden;
  }
  .info_nav a {
    display: block;
    padding: 16px 24px;
  }
  .info_nav a + a:before {
    display: none;
  }
}
.homepage .head {
  display: none;
}
@media (max-width: 57.82em) {
  .homepage .head {
    display: block;
  }
}
mark {
  color: #855c0a;
  margin: 0 4px;
}

      .head, .info,
      .no-cover,
      .navigation a,
      .footer-rss,
      .item .item-image {
        background-color: #719876;
      }

      .item:hover h2,
      .prev-post a:hover, .post-archives a:hover {
        color: #719876;
      }

      .tags .tag:hover {
        border-color: #719876;
      }

      .post-content a:hover {
        color: #719876;
        border-color: #719876;
      }
      
    